<div class="card">
  <div *ngIf="group">
    <img class="rounded-circle mx-auto d-block img-width mt-1" [src]="group.icon" alt="group image">
    <div class="card-body">
      <h4 class="card-title text-center">{{ group.name }}</h4>
      <h5>Mijn verlanglijstje</h5>
      <table>
        <tr>
          <td>Bier</td>
        </tr>
        <tr>
          <td>Wijn</td>
        </tr>
      </table>
      <h5>Mensen in de groep</h5>
      <table>
          <tr *ngFor="let user of group.users">
            <td>{{ user.displayName }}</td>
          </tr>
        </table>
    </div>
  </div>
</div>